@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

/*----------------------------------------------------------------- NAVIGATION -----------------------------------------------------*/
nav{
    max-width: 950px;
    margin: auto;
    padding: 2rem, 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar-nav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-item a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.nav-item a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}
.navbar-nav .nav-link {
    background-color: transparent; 
    color: #fff; 
}

.nav-item a:hover::after{
    width: 70%;
}

img{
    width: 100%;
    display: flex;
}

.navbar-brand{
    max-width: 100px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler{
    border: #fff 1px solid
}

/* -------------------------------------------------- CONTAINER SIZE --------------------------------------------------*/
.container{
    max-width: 1200px;
    margin: auto;
    padding-top: 5rem;
    
}

/*-------------------------------------------------- BACKGROUND EFFECT ------------------------------------------------*/
.blur{
    position: absolute;
    box-shadow: 0px 0px 1000px 50px #1d4ed8;
    z-index: -100;
}

/*---------------------------------------------------HEADER-------------------------------------------------------------*/
.container header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
   
    
}

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 40px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    bottom: 10px;
    color: #ccc;
}

#experience{
    align-items: baseline;
    top: 0;
    
}

header  h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header  h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
    align-items: left;
    max-width: 600px;
}

header h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header p{
    margin-bottom: 2rem;
    color: #ccc;
    max-width: 500px;
}

section p{
    margin-bottom: 2rem;
    color: #ccc;
   

}

.container .image{
    position: relative;
}
@media (max-width: 767px) {
    .container .image {
        display: none;
    }
}



.container .image img{
    max-width: 400px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}


.mt-5 {
    margin-top: 1rem;
}

/*--------------------------------------------- OVERVIEW --------------------------------------------------------*/
.card {
    background-color:  #27272a;
    color: #ccc;
}

.card h5{
    text-align: center;
}

.imgsection {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
}


.imgsection img {
    max-width: 100%;
    height: auto;
    
}

.sub-header {
    max-width: 600px;
    margin: 0 auto; 
    text-align: center; 
}
/*---------------------------------------------------------- FOOTER ------------------------------------------------------------*/
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}


footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    display: flex;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 20px;
    justify-content: flex-end;
}

footer .column > a{
    display: flex;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    justify-content: flex-end;
    
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/*---------------------------------------------------------- CV ---------------------------------------------------------*/

.carousel-item {
    padding: 20px; 
}

.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#cv-form{
    color: #ccc;
}

#cv-form h2 {
    position: relative;
}

#cv-form h2::after {
    content: "";
    display: block;
    border-bottom: 1px solid #1d4ed8;
    width: 50%; 
    position: absolute;
    bottom: 0;
}

.education{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #1d4ed8;
}

.exp{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #1d4ed8;
}

.exp span,
.location,
.time{
    padding-left: 30px;
    
}

.item{
    padding-bottom: 20px;
}

.skills {
    padding-left: 30px;
    border-left: 1px solid #1d4ed8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.intro h4::before,
.exp h4::before,
.skills h4::before,
.education h4::before {
    position: relative;
    content: "\2022"; 
    color: #1d4ed8; 
    display: inline-block;
    left: -35px;
    
    
}

.item h4 {
    white-space: nowrap;
    overflow-wrap: break-word;
    
}


.bg-grey {
    background-color: #1d4ed8; 
    color: #ccc; 
    
    background-image: none;
}

.progress{
    background-color: transparent;
    border: 1px solid #1d4ed8;
}

#slick-carousel-title h2{
    color: #ccc;
}

/* Style the carousel container */
.slick-carousel {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    position: relative; /* Add this to establish a stacking context */
}

/* Style the images within the slides */
.slick-slide img {
    max-width: 100%;
    height: auto;
}


.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/*------------------------------------------------------------ PROGRESS -------------------------------------------------------*/
.container-progress {
    max-width: 900px;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 2rem;
    color: #ccc;
    padding: 10px; /* Add some padding for better mobile display */
    box-sizing: border-box; /* Include padding in the total width */
    padding-left: 10px; /* Add padding on the left side */
    padding-right: 10px; /* Add padding on the right side */
}

.container-progress caption{
    color: #ccc;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th {
    text-align: left;
}

td {
    border: 2px solid #ccc;
    padding: 5px;
}

#tabledate {
    width: 100px;
}

#tableprogress {
    width: 100px;
}

caption {
    caption-side: bottom;
    padding: 20px;
}

/* Add a media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .container-progress {
        padding: 5px; /* Reduce padding for small screens */
    }

    table {
        font-size: 12px; /* Reduce font size for small screens */
    }

    
}

/*-------------------------------------------------------- EXPERIENCE ------------------------------------------------------- */




input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ label > img{
    transform: scale(1.5);
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-content{
    display: grid;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}



.portfolio-content .row p{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    
}

.portfolio-content .row .projectTitle{

    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.portfolio-content .row h5{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
}



.portfolio-content .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.small-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the images horizontally */
}

/* --------------------------------------------------------Skill Bar--------------------------------------------------------- */
/* Styling for the skill container */
.skill{
    width: 500px;
    color: #fff;
    
    
}

/* Styling for individual skill list items */
.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}

/* Styling for the progress bar container */
.bar{
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* Apply a shadow effect on hover */
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Styling for the progress bar itself */
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(125deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

/* Define styles and animations for individual skills */
.htmlcss{
    width: 70%;
    animation: htmlcss 3s;
}

.javascript{
    width: 60%;
    animation: javascript 3s;
}

.csharp{
    width: 70%;
    animation: csharp 3s;
}

.python{
    width: 50%;
    animation: python 3s;
}

.sql{
    width: 80%;
    animation: sql 3s;
}

/* Keyframe animations for skill bars */
@keyframes htmlcss{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes csharp{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
/*------------------------------------------------ contact form -------------------------------------------------*/
#contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    margin-top: -150px;
}



.container2 {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    overflow: hidden;
    
}

.container2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    
    pointer-events: none;
}

.container2 h2{
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 36px;
    margin-bottom: 20px ;
}

.container2 .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.container2 .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;

}

.container2 .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #ccc;
}

.container2 .row100 .col .inputBox input,
.container2 .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container2 .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

/* When input or textarea is focused or has a value, move the text above the input */
.container2 .row100 .col .inputBox input:focus + .text,
.container2 .row100 .col .inputBox input:valid + .text,
.container2 .row100 .col .inputBox textarea:focus + .text,
.container2 .row100 .col .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;

}

/* Styling for the line below the input */
.container2 .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1%;
    background: #fff;
    transition: 0.5s;
    border-radius: 1px;
    pointer-events: none;
    
}

/* When input is focused or has a value, expand the line below the input */
.container2 .row100 .col .inputBox input:focus ~ .line,
.container2 .row100 .col .inputBox input:valid ~ .line{
    height: 100%;
}

/* Styling for the textarea input */
.container2 .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    resize: none;
}

 /* Remove textarea resize handle */
.container2 .row100 .col .inputBox.textarea textarea{
    resize: none;
}

/* When textarea is focused or has a value, expand the line below the input */
.container2 .row100 .col .inputBox textarea:focus ~ .line,
.container2 .row100 .col .inputBox textarea:valid ~ .line{
    height: 100%;
}

.container2 .row100 .col input[type=submit]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

.select-text{
    color: #ccc;
    margin-bottom: none;

}

.select-skills{
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #ccc;
}

select option {
    margin: 40px;
    background: #18181B;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#contact-info p {
    margin: 5px 0;
    line-height: 1;
    padding: 5px;
}

.contact-info-container {
    max-height: 300px; /* Set a maximum height as per your design */
    overflow: auto; /* Add scrollbars if content overflows */
    border-left: 1px solid #fff;
    padding-left: 30px;
  
}

#header-contact{
    margin-bottom: 100px;
}



#header-contact #social-contact-link{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
    position: relative;
    top: -10px;
}

#header-contact a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}


/*------------------------------------------------ hobby carousel ----------------------------------------------------------------*/



.position-relative{
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.indicator-container{
    position: relative;
    bottom: -520px;

}

.control-container{
    position: relative;
    top: -350px;
    z-index: 10;
    
    
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d4ed8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d4ed8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev{
    left: -20px;
    top: -150px;
}
.carousel-control-next{
    right: -20px;
    top: -150px;
}



/*---------------------------------------------------- Hobby --------------------------------------------------*/

.column.images {
    margin-right: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column.images .photo {
    margin-bottom: 12px; 
}

.column.images .photo img {
    width: 300px; 
    height: auto;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 0, 0, 0.3);
    
}




















  

  

  




  
  




































