@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

/*----------------------------------------------------------------- NAVIGATION -----------------------------------------------------*/
nav{
    max-width: 950px;
    margin: auto;
    padding: 2rem, 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar-nav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-item a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.nav-item a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}
.navbar-nav .nav-link {
    background-color: transparent; 
    color: #fff; 
}

.nav-item a:hover::after{
    width: 70%;
}

img{
    width: 100%;
    display: flex;
}

.navbar-brand{
    max-width: 100px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler{
    border: #fff 1px solid
}

/* -------------------------------------------------- CONTAINER SIZE --------------------------------------------------*/
.container{
    max-width: 1200px;
    margin: auto;
    padding-top: 5rem;
    
}

/*-------------------------------------------------- BACKGROUND EFFECT ------------------------------------------------*/
.blur{
    position: absolute;
    box-shadow: 0px 0px 1000px 50px #1d4ed8;
    z-index: -100;
}

/*---------------------------------------------------HEADER-------------------------------------------------------------*/
.container header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
   
   

    
}

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 40px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    bottom: 10px;
    color: #ccc;
}

#experience{
    align-items: baseline;
    top: 0;
    
}

header  h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header  h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
    align-items: left;
    max-width: 600px;
}

header h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header p{
    margin-bottom: 2rem;
    color: #ccc;
    max-width: 500px;
}

section p{
    margin-bottom: 2rem;
    color: #ccc;
   

}

.container .image{
    position: relative;
}
@media (max-width: 767px) {
    .container .image {
        display: none;
    }
}



.container .image img{
    max-width: 400px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}


.mt-5 {
    margin-top: 1rem;
}

/*--------------------------------------------- OVERVIEW --------------------------------------------------------*/
.card {
    background-color:  #27272a;
    color: #ccc;
}

.card h5{
    text-align: center;
}

.imgsection {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
}


.imgsection img {
    max-width: 100%;
    height: auto;
    
}

.sub-header {
    max-width: 600px;
    margin: 0 auto; 
    text-align: center; 
}
/*----------------------------------------------------footer------------------------------------------------*/
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}


footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    display: flex;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 20px;
    justify-content: flex-end;
}

footer .column > a{
    display: flex;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    justify-content: flex-end;
    
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/* CV */

.carousel-item {
    padding: 20px; /* Adjust this value to increase or decrease the spacing */
}

.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#cv-form{
    color: #ccc;
}

#cv-form h2 {
    position: relative;
}

#cv-form h2::after {
    content: "";
    display: block;
    border-bottom: 1px solid #1d4ed8;
    width: 50%; /* Set an initial width if needed */
    position: absolute;
    bottom: 0;
}

.education{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #1d4ed8;
}

.exp{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #1d4ed8;
}

.exp span,
.location,
.time{
    padding-left: 30px;
    
}

.item{
    padding-bottom: 20px;
}

.skills {
    padding-left: 30px;
    border-left: 1px solid #1d4ed8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.intro h4::before,
.exp h4::before,
.skills h4::before,
.education h4::before {
    position: relative;
    content: "\2022"; /* Unicode character for bullet (•) */
    color: #1d4ed8; /* Blue color */
    display: inline-block;
    left: -35px;
    
    
}

.item h4 {
    white-space: nowrap;
    overflow-wrap: break-word;
    
}



/* Custom grey background color for progress bars */
.bg-grey {
    background-color: #1d4ed8; /* Use your preferred shade of grey */
    color: #ccc; /* Text color on the grey background */
    
    background-image: none;
}

.progress{
    background-color: transparent;
    border: 1px solid #1d4ed8;
}

#skillsCarousel h2{
    color: #ccc;
}

















