@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

/*----------------------------------------------------------------- NAVIGATION -----------------------------------------------------*/
nav{
    max-width: 950px;
    margin: auto;
    padding: 2rem, 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar-nav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-item a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.nav-item a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}
.navbar-nav .nav-link {
    background-color: transparent; 
    color: #fff; 
}

.nav-item a:hover::after{
    width: 70%;
}

img{
    width: 100%;
    display: flex;
}

.navbar-brand{
    max-width: 100px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler{
    border: #fff 1px solid
}

/* -------------------------------------------------- CONTAINER SIZE --------------------------------------------------*/
.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

/*-------------------------------------------------- BACKGROUND EFFECT ------------------------------------------------*/
.blur{
    position: absolute;
    box-shadow: 0px 0px 1000px 50px #1d4ed8;
    z-index: -100;
}

/*---------------------------------------------------HEADER-------------------------------------------------------------*/
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    top: 50px;
    
}

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    bottom: 10px;
    color: #ccc;
}

#experience{
    align-items: baseline;
    top: 0;
    
}

#project{
    top: -200px;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 32rem;
    font-weight: 500;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}


.imgsection {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
}


.imgsection img {
    max-width: 100%;
    height: auto;
    
}

/*--------------------------------------------- OVERVIEW --------------------------------------------------------*/
.overview{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.overview .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.overview .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.overview .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.overview .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.overview .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.overview .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.overview .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.overview .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.overview .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}
/*----------------------------------------------------footer------------------------------------------------*/
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}


footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    display: flex;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 20px;
    justify-content: flex-end;
}

footer .column > a{
    display: flex;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    justify-content: flex-end;
    
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

